api/src/ApplicationSecurityConfig.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="allowed-attempts" type="xs:string"/>
	<xs:element name="allowed-login-time" type="xs:string"/>
	<xs:element name="application">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="context-name"/>
				<xs:element ref="authentication"/>
				<xs:element ref="authorization"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="application-list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="application" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="authentication">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="authentication-provider-class"/>
				<xs:element ref="lockout-time"/>
				<xs:element ref="allowed-login-time"/>
				<xs:element ref="allowed-attempts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="authentication-provider-class" type="xs:string"/>
	<xs:element name="authorization">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="authorization-provider-class"/>
				<xs:element ref="hibernate-config-file"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="authorization-provider-class" type="xs:string"/>
	<xs:element name="context-name" type="xs:string"/>
	<xs:element name="hibernate-config-file" type="xs:string"/>
	<xs:element name="lockout-time" type="xs:string"/>
	<xs:element name="security-config">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="upt-context-name"/>
				<xs:element ref="application-list"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="upt-context-name" type="xs:string"/>
</xs:schema>
