software/securityws/resources/SecurityService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ws="http://security.nci.nih.gov/ws" xmlns:common="http://security.nci.nih.gov/ws/common" xmlns:authentication="http://security.nci.nih.gov/ws/authentication" xmlns:authorization="http://security.nci.nih.gov/ws/authorization" targetNamespace="http://security.nci.nih.gov/ws" name="Security">
	<wsdl:types>
		<xs:schema targetNamespace="http://security.nci.nih.gov/ws/common" xmlns:common="http://security.nci.nih.gov/ws/common" elementFormDefault="qualified" attributeFormDefault="qualified" version=".1">
			<xs:element name="ErrorDetails" type="common:ErrorDetails"/>
			<xs:complexType name="ErrorDetails">
				<xs:sequence>
					<xs:element name="ErrorCode" type="common:ErrorCodes"/>
					<xs:element name="ErrorDescription" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="ErrorCodes">
				<xs:restriction base="xs:string">
					<xs:enumeration value="InvalidParameter"/>
					<xs:enumeration value="LoginError"/>
					<xs:enumeration value="ApplicationError"/>
					<xs:enumeration value="SystemError"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
		<xs:schema targetNamespace="http://security.nci.nih.gov/ws/authentication" xmlns:authentication="http://security.nci.nih.gov/ws/authentication" elementFormDefault="qualified" attributeFormDefault="qualified" version=".1">
			<xs:element name="LoginRequest" type="authentication:LoginRequest"/>
			<xs:complexType name="LoginRequest">
				<xs:sequence>
					<xs:element name="UserName" type="xs:string"/>
					<xs:element name="Password" type="xs:string"/>
					<xs:element name="ApplicationContext" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="LoginResponse" type="authentication:LoginResponse"/>
			<xs:complexType name="LoginResponse">
				<xs:sequence>
					<xs:element name="Result" type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema targetNamespace="http://security.nci.nih.gov/ws/authorization" xmlns:authorization="http://security.nci.nih.gov/ws/authorization" elementFormDefault="qualified" attributeFormDefault="qualified" version=".1">
			<xs:element name="CheckPermissionRequest" type="authorization:CheckPermissionRequest"/>
			<xs:complexType name="CheckPermissionRequest">
				<xs:sequence>
					<xs:choice>
						<xs:element name="UserName" type="xs:string"/>
						<xs:element name="GroupName" type="xs:string"/>
					</xs:choice>
					<xs:element name="ObjectId" type="xs:string"/>
					<xs:element name="Attribute" type="xs:string" nillable="true"/>
					<xs:element name="Privilege" type="xs:string"/>
					<xs:element name="ApplicationContext" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="CheckPermissionResponse" type="authorization:CheckPermissionResponse"/>
			<xs:complexType name="CheckPermissionResponse">
				<xs:sequence>
					<xs:element name="Result" type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="ErrorMessage">
		<wsdl:part name="ErrorMessage" element="common:ErrorDetails"/>
	</wsdl:message>
	<wsdl:message name="LoginRequestMessage">
		<wsdl:part name="LoginRequest" element="authentication:LoginRequest"/>
	</wsdl:message>
	<wsdl:message name="LoginResponseMessage">
		<wsdl:part name="LoginResponse" element="authentication:LoginResponse"/>
	</wsdl:message>
	<wsdl:message name="CheckPermissionRequestMessage">
		<wsdl:part name="CheckPermissionRequest" element="authorization:CheckPermissionRequest"/>
	</wsdl:message>
	<wsdl:message name="CheckPermissionResponseMessage">
		<wsdl:part name="CheckPermissionResponse" element="authorization:CheckPermissionResponse"/>
	</wsdl:message>
	<wsdl:portType name="SecurityService">
		<wsdl:operation name="Login">
			<wsdl:input message="ws:LoginRequestMessage"/>
			<wsdl:output message="ws:LoginResponseMessage"/>
			<wsdl:fault name="LoginErrorMessage" message="ws:ErrorMessage"/>
		</wsdl:operation>
		<wsdl:operation name="CheckPermission">
			<wsdl:input message="ws:CheckPermissionRequestMessage"/>
			<wsdl:output message="ws:CheckPermissionResponseMessage"/>
			<wsdl:fault name="CheckPermissionErrorMessage" message="ws:ErrorMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SecurityServiceSoapBinding" type="ws:SecurityService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Login">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="LoginErrorMessage">
				<soap:fault name="LoginErrorMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CheckPermission">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CheckPermissionErrorMessage">
				<soap:fault name="CheckPermissionErrorMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SecurityService">
		<wsdl:port name="SecurityServiceSoapPort" binding="ws:SecurityServiceSoapBinding">
			<soap:address location="http://localhost:8080/securityws/services/SecurityServiceSoapPort"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
